@use "../breakpoints";
@use "../variables/colors";
@use "../base/forms";

.contact__main {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__form {
  @extend .base__form;
}

.contact__form-hide {
  display: none;
}

#form__input-message {
  @extend .base__form-input;
}

#form__inputContainer-message {
  @extend .base__form-inputContainer;
}

#message {
  @extend .base__form-textarea;
}

#form__inputContainer-message > label {
  @extend .base__form-textarea-label;
}

.form__sendBtn-contact {
  @extend .form__sendBtn;
}

.contact__success {
  height: 30vh;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7vh;

  @include breakpoints.medium {
    height: 48vh;
  }
}
