@use "../variables/colors";
@use "../breakpoints";

.lesson__main {
  width: 90%;
  margin: 100px 5% 0 5%;
  background-color: white;
  border: 1px solid #000;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.lesson__main > h1 {
  background-color: colors.$primaryColor;
  color: white;
  width: fit-content;
  padding: 10px 25px;
  margin: 0 0 25px 0;
  border-radius: 0;
  text-transform: uppercase;

  @include breakpoints.medium {
    border-radius: 0 5px 5px 0;
    margin: 50px 0 25px 0;
  }
}

.lesson__article {
  padding: 0 25px;
  font-size: 1.3em;
  line-height: 1.5em;
}

.lesson__article > ol {
  list-style: none;
  counter-reset: lesson-counter;
  padding-left: 0;

  @include breakpoints.medium {
    padding-left: 15px;
  }
}

.lesson__article > ol > li {
  counter-increment: lesson-counter;
  position: relative;
  margin-bottom: 20px;
}

.lesson__article > ol > li::before {
  content: counter(lesson-counter);
  margin-right: 15px;
  background-color: colors.$primaryColor;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  font-weight: bold;
}

.lesson__table {
  display: grid;
  margin-bottom: 0;
  align-items: stretch;

  @include breakpoints.medium {
    margin-bottom: 25px;
  }
}

.lesson__table-twoCols {
  @extend .lesson__table;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-left: 0%;

  @include breakpoints.medium {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-left: 5%;
  }
}

.lesson__table-threeCols {
  @extend .lesson__table;
  grid-template-columns: 1fr 2fr 2fr;
  width: 100%;
  margin-left: 0%;

  @include breakpoints.medium {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5%;
  }
}

.lesson__table-fiveCols {
  @extend .lesson__table;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-left: 0%;

  @include breakpoints.medium {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5%;
  }
}

.lesson__table-sixCols {
  @extend .lesson__table;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-left: 0%;

  @include breakpoints.medium {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5%;
  }
}

.lesson__cell {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson__cell-single {
  padding: 10px;
}

.lesson__cell-double {
  display: flex;
  width: 100%;
  height: 100%;
}

.lesson__cell-mother {
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  background-color: aliceblue;
  padding: 10px 0;
}

.lesson__cell-target {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  background-color: oldlace;
  padding: 10px 0;
}

.lesson__cell-array {
  padding: 0 15px;
}

.lesson__example {
  border: 1px solid #000;
  background-color: oldlace;
  padding: 10px 25px;
  border-radius: 5px;
  line-height: 3em;
  width: fit-content;
}

.lesson__highlight {
  background-color: colors.$primaryColor;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 15px;
}

.lesson__note {
  border: 1px solid #000;
  background-color: oldlace;
  padding: 10px 25px;
  border-radius: 5px;
  width: fit-content;
}

.lesson__red {
  color: crimson;
  font-weight: bold;
}

.lesson__backToDashboard {
  background-color: crimson;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 40px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #000;
  padding-right: 10px;
  border-radius: 0 5px 0 0;
}

.lesson__next {
  @extend .lesson__backToDashboard;
  background-color: colors.$primaryColor;
  border-width: 1px 0 0 1px;
  padding-right: 0;
  width: fit-content;
  border-radius: 5px 0 0 0;
  padding-left: 15px;
}

.lesson__next-img {
  background-color: white;
  border-left: 1px solid #000;
  height: 40px;
  margin-left: 15px;
}

.lesson__backToDashboard-img {
  background-color: white;
  border-right: 1px solid #000;
  height: 40px;
}

.lesson__menu {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.lesson__mainLocked {
  padding: 100px 30px 30px 30px;
}

.lesson__locked {
  display: flex;
}

.lesson__locked > img {
  width: 300px;
}

.lesson__lockedText {
  margin-left: 30px;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}

.lesson__lockedBack {
  background-color: crimson;
  color: white;
  font-weight: bold;
  display: block;
  width: fit-content;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
}
