@use "../breakpoints";

.btn__dash {
  border: 1px solid #000;
  height: 1em;
  width: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
  @include breakpoints.medium {
    height: 1.5em;
    width: 1.5em;
    padding: 1.5em;
  }
}

.btn__dash:hover {
  background-color: lightcyan;
}

.btn__dash > img {
  width: 1em;

  @include breakpoints.medium {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3em;
    width: 1.3em;
  }
}

.btn__dash-active {
  @extend .btn__dash;
  background-color: lightcyan;
}
