@use "../variables/colors";
@use "../breakpoints";

footer {
  width: 100%;
  background-color: #303030;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vh 0 0 0;

  @include breakpoints.medium {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
}

aside {
  width: 20%;
  height: 80vh;
  position: relative;
  bottom: 0;
  left: 0;
  margin-right: 2%;
}

main {
  width: 100%;
  margin-top: 100px;
  display: flex;
}

.main__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
  padding: 0 0 20vh 0;
}

.main__login {
  @extend .main__signup;
}

.ramon__counterContainer {
  width: 100%;
  display: flex;
  gap: 3px;
  border-top: 1px solid darkgray;
  color: gray;
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  padding-top: 3px;
}
