$primaryColor: #002147;

$error_spell: #ef4444;

$error_tens: #3b82f6;

$error_agree: #10b981;

$error_prep: #f59e0b;

$error_word: #8b5cf6;

$error_order: #ec4899;

$error_sing: #06b6d4;

$error_art: #84cc16;

$error_pron: #6366f1;
