@use "../variables/colors";
@use "../breakpoints";

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__inputContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1vh;
  border-radius: 5px;
  height: 100%;
  width: 90%;
  margin-left: 5%;
  position: relative;
}

.form__input-signup {
  border: 1px solid colors.$primaryColor;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 5px;
  width: 80%;
  height: 40px;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.form__signup-icon {
  height: 18px;
  border-radius: 11px;
  padding: 11px;
}

.form__input-error {
  @extend .form__input-signup;
  border: 1px solid red;
}

.form__input-valid {
  @extend .form__input-signup;
  border: 1px solid lime;
}

.form__inputContainer > label {
  background: linear-gradient(to bottom, #f7f8fa 50%, #fff 50%);
  padding: 0 30px 0 15px;
  color: colors.$primaryColor;
  position: absolute;
  top: -9px;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;

  @include breakpoints.medium {
    background: linear-gradient(to bottom, #f0f4f8 50%, #fff 50%);
  }
}

.form__inputContainer > input {
  border: 0;
  outline: none;
  width: 90%;
  height: 100%;
}

#form__input-tos {
  height: 15vh;

  @include breakpoints.medium {
    height: 80px;
    padding-right: 10%;
  }
}

#form__input-privacy {
  height: 12vh;

  @include breakpoints.medium {
    height: 40px;
  }
}

#form__inputContainer-tos > div {
  display: flex;
  width: 100%;
}

#form__inputContainer-privacy > div {
  display: flex;
  width: 100%;
}

#form__inputContainer-tos > div > input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9%;
}

#form__inputContainer-privacy > div > input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9%;
}

.form__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @include breakpoints.medium {
    padding-top: 3vh;
    background-color: #f0f4f8;
    border-radius: 20px;
    width: 40%;
    border: 1px solid colors.$primaryColor;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    padding-bottom: 2vh;
  }
}

.form__errorContainer {
  height: 3vh;
  color: red;
}

.form__onChangeError {
  z-index: 20;
  top: 50px;
}

.form__sendBtn {
  background-color: colors.$primaryColor;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
  border-color: white;
  height: 6vh;
  margin: 2vh 0;

  @include breakpoints.medium {
    width: 25%;
    height: 4vh;
  }
}
