@use "../variables/colors";

.chart__stackedBar-border {
  border: 1px solid #000;
}

#chart__stackedBar-spell {
  fill: colors.$error_spell;
}

#chart__stackedBar-tens {
  fill: colors.$error_tens;
}

#chart__stackedBar-agree {
  fill: colors.$error_agree;
}

#chart__stackedBar-prep {
  fill: colors.$error_prep;
}

#chart__stackedBar-word {
  fill: colors.$error_word;
}

#chart__stackedBar-order {
  fill: colors.$error_order;
}

#chart__stackedBar-sing {
  fill: colors.$error_sing;
}

#chart__stackedBar-art {
  fill: colors.$error_art;
}

#chart__stackedBar-pron {
  fill: colors.$error_pron;
}

#chart__line-container {
  width: 500px;
}

#chart__line-wrapper {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

#reveal-wrapper {
  clip-path: inset(0 100% 0 0);
  animation: revealBar 2.5s cubic-bezier(0.8, 0.4, 0.2, 1) forwards;
  animation-delay: 0.8s;
}

@keyframes revealBar {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.chart__labels-x {
  display: flex;
  justify-content: space-between;
  width: 110%;
  margin-left: -5%;
}
