@use "../breakpoints";

.dashboard__main {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoints.medium {
    grid-template-columns: 1fr 9fr;
  }
}

.dashboard {
  width: 100%;

  @include breakpoints.medium {
    grid-column: 2;
  }
}

.dashboard__menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #303030;
  height: 10vh;

  @include breakpoints.medium {
    left: 0;
    bottom: 30vh;
    background-color: transparent;
    flex-direction: column;
    width: 10%;
    height: 50vh;
  }
}
