@use "../breakpoints";
@use "../variables/colors";

.flashcard__main {
  margin-bottom: 50px;
}

.flashcard__intro {
  font-size: 1.2em;
  line-height: 1.3em;
  width: 100%;
  padding: 0 5%;
  margin: 0;

  @include breakpoints.medium {
    width: 80%;
    margin: 45px;
    padding: 0;
  }
}

.flashcard__command > li {
  margin: 0;

  @include breakpoints.medium {
    margin: 5px;
  }
}

.flashcard__start {
  border-radius: 10px;
  background-color: colors.$primaryColor;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
  padding: 8px 25px;
  margin: 50px 25px 100px 25px;
  cursor: pointer;
}

.flashcard__container {
  margin-top: 25px;
  border-width: 0;
  border-color: #000;
  border-style: solid;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  gap: 0;

  @include breakpoints.medium {
    gap: 25px;
    flex-direction: row;
    width: 90%;
    margin-left: 25px;
    border-width: 1px;
  }
}

.flashcard__menu {
  width: 100%;
  margin: 0;
  background-color: gainsboro;
  height: fit-content;
  border-width: 0 0 1px 0;
  border-color: #000;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoints.medium {
    flex-direction: row;
    margin: 0 0 25px 25px;
    width: 90%;
    border-width: 0 1px 1px 1px;
  }
}

.flashcard__container > img {
  width: 100%;
  display: block;
  height: auto;
  border-right: 0;

  @include breakpoints.medium {
    border-right: 1px solid #000;
    width: 300px;
    height: 250px;
  }
}

.flashcard__input {
  height: 2em;
  width: 250px;
  outline: unset;
}

.flashcard__input-true {
  @extend .flashcard__input;
  border: 2px solid lawngreen;
}

.flashcard__input-false {
  @extend .flashcard__input;
  border: 2px solid red;
}

.flashcard__input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 0 0 15px;
  width: auto;
  border-bottom: 1px solid #000;

  @include breakpoints.medium {
    border-bottom: 0;
    width: 70%;
  }
}

.flashcard__input-container > label {
  text-transform: uppercase;
}

%flashcard__menu-row {
  display: flex;
  height: inherit;
}

.flashcard__menu-topRow {
  @extend %flashcard__menu-row;
  border-bottom: 1px solid #000;

  @include breakpoints.medium {
    border-bottom: 0;
  }
}

.flashcard__menu-bottomRow {
  @extend %flashcard__menu-row;
  border-top: 1px solid #000;

  @include breakpoints.medium {
    border-top: 0;
  }
}

.flashcard__score {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: colors.$primaryColor;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  border-left: 0;
  border-right: 0;
  padding: 0;

  @include breakpoints.medium {
    padding: 0 25px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
}

.flashcard__points {
  @extend .flashcard__score;
}

%flashcard__baseBtn-menu {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

%flashcard__baseBtn-menu > img {
  height: 30px;
  width: 50px;
}

.flashcard__next {
  @extend %flashcard__baseBtn-menu;
  border-left: 1px solid #000;
  background-color: gainsboro;

  @include breakpoints.medium {
    border-left: 0;
  }
}

.flashcard__helpBtn {
  @extend %flashcard__baseBtn-menu;
  border-right: 1px solid #000;
  background-color: greenyellow;

  @include breakpoints.medium {
    border-right: 0;
  }
}

.flashcard__helpBtn-end {
  @extend %flashcard__baseBtn-menu;
  border-right: 1px solid #000;
  cursor: unset;
  background-color: crimson;
}

.flashcards__finish {
  @extend %flashcard__baseBtn-menu;
  height: 50px;
  width: 100%;
  border-width: 0;
  border-color: #000;
  border-style: solid;
  background-color: crimson;

  @include breakpoints.medium {
    width: 50px;
    border-width: 0 1px;
  }
}
