#logo__el {
  position: absolute;
  height: 3.5em;
  top: -0.15em;
  left: -1.4em;
}

#logo__el-open {
  @extend #logo__el;
  animation: moveEl 0.5s ease-out forwards;
}

#logo__el-close {
  @extend #logo__el-open;
  animation: moveElClose 0.5s ease-out forwards;
}

@keyframes moveEl {
  0% {
    height: 3.5em;
    top: -0.15em;
    left: -1.4em;
  }
  100% {
    height: 2em;
    top: 0.5em;
    left: 0em;
  }
}

@keyframes moveElClose {
  0% {
    height: 2em;
    top: 0.5em;
    left: 0em;
  }
  100% {
    height: 3.5em;
    left: -1.4em;
  }
}

#logo__e {
  position: absolute;
  height: 3em;
  top: 0.7em;
  left: -0.5em;
  transform-origin: 50% 49%;
  transform: rotate(180deg);
  animation: charRotation 4s ease-out infinite;
}

#logo__e-open {
  @extend #logo__e;
  animation: moveE 0.5s ease-out forwards;
}

#logo__e-close {
  @extend #logo__e-open;
  animation:
    moveEclose 0.5s ease-out forwards,
    charRotation 4s ease-out infinite;
}

@keyframes moveE {
  0% {
    height: 3em;
    top: 0.7em;
    left: -0.5em;
    transform: rotate(180deg);
  }
  100% {
    height: 2.6em;
    top: 0.45em;
    left: 0.65em;
    transform: rotate(0deg);
  }
}

@keyframes moveEclose {
  0% {
    height: 2.6em;
    top: 0.45em;
    left: 0.65em;
    transform: rotate(0deg);
  }
  100% {
    height: 3em;
    top: 0.7em;
    left: -0.5em;
    transform: rotate(180deg);
  }
}

#logo__a {
  position: absolute;
  height: 3em;
  top: 0.7em;
  left: -0.5em;
  transform-origin: 50% 49%;
  transform: rotate(180deg);
  animation: charRotation 4s ease-out infinite;
}

#logo__a-open {
  @extend #logo__a;
  animation: moveA 0.5s ease-out forwards;
}

#logo__a-close {
  @extend #logo__a-open;
  animation:
    moveAclose 0.5s ease-out forwards,
    charRotation 4s ease-out infinite;
}

@keyframes moveA {
  0% {
    height: 3em;
    top: 0.7em;
    left: -0.5em;
    transform: rotate(0deg);
  }
  100% {
    height: 2.6em;
    top: 0.45em;
    left: 2em;
    transform: rotate(180deg);
  }
}

@keyframes moveAclose {
  0% {
    height: 2.6em;
    top: 0.45em;
    left: 2em;
    transform: rotate(180deg);
  }
  100% {
    height: 3em;
    top: 0.7em;
    left: -0.5em;
    transform: rotate(0deg);
  }
}

@keyframes charRotation {
  0%,
  100% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

#logo__er {
  position: absolute;
  height: 3.5em;
  top: 0.35em;
  left: -0.2em;
  transform: scaleX(-1);
}

#logo__er-open {
  @extend #logo__er;
  animation: moveEr 0.5s ease-out forwards;
}

#logo__er-close {
  @extend #logo__er-open;
  animation: moveErClose 0.5s ease-out forwards;
}

@keyframes moveEr {
  0% {
    height: 3.5em;
    top: 0.35em;
    left: -0.2em;
    transform: scaleX(-1);
  }
  100% {
    height: 1.6em;
    top: 0.9em;
    left: 4em;
    transform: scaleX(1);
  }
}

@keyframes moveErClose {
  0% {
    height: 1.6em;
    top: 0.9em;
    left: 4em;
    transform: scaleX(1);
  }
  100% {
    height: 3.5em;
    top: 0.35em;
    left: -0.2em;
    transform: scaleX(-1);
  }
}

#logo__en {
  position: absolute;
  height: 3.6em;
  top: 0.6em;
  left: 0.6em;
}

#logo__en-open {
  @extend #logo__en;
  animation: moveEn 0.5s ease-out forwards;
}

#logo__en-close {
  @extend #logo__en-open;
  animation: moveEnClose 0.5s ease-out forwards;
}

@keyframes moveEn {
  0% {
    height: 3.6em;
    top: 0.6em;
    left: 0.6em;
  }
  100% {
    height: 2.3em;
    top: 0.6em;
    left: 5.15em;
  }
}

@keyframes moveEnClose {
  0% {
    height: 2.3em;
    top: 0.6em;
    left: 5.15em;
  }
  100% {
    height: 3.6em;
    top: 0.6em;
    left: 0.6em;
  }
}

#logo__squareOpen {
  position: absolute;
  height: 3.5em;
  top: -1.15em;
  left: -0.6em;
}

#logo__squareOpen-open {
  @extend #logo__squareOpen;
  animation: squareDrop 0.5s ease-out forwards;
}

#logo__squareOpen-close {
  @extend #logo__squareOpen-open;
  animation: squareRiseOpen 0.5s ease-out forwards;
}

#logo__squareClose {
  position: absolute;
  height: 3.5em;
  top: -1.15em;
  left: 0.95em;
}

#logo__squareClose-open {
  @extend #logo__squareClose;
  animation: squareDrop 0.5s ease-out forwards;
}

#logo__squareClose-close {
  @extend #logo__squareClose-open;
  animation: squareRiseClose 0.5s ease-out forwards;
}

@keyframes squareDrop {
  0% {
    height: 3.5em;
  }
  100% {
    height: 0em;
    top: 2.5em;
  }
}

@keyframes squareRiseOpen {
  0% {
    height: 0em;
    top: 2.5em;
  }
  100% {
    height: 3.5em;
  }
}

@keyframes squareRiseClose {
  0% {
    height: 0em;
    top: 2.5em;
  }
  100% {
    height: 3.5em;
  }
}

#logo__i {
  position: absolute;
  height: 3.5em;
  top: -1.15em;
  left: -0.25em;
}

#logo__i-open {
  @extend #logo__i;
  animation: moveI 0.5s ease-out forwards;
}

#logo__i-close {
  @extend #logo__i-open;
  animation: moveIclose 0.5s ease-out forwards;
}

@keyframes moveI {
  0% {
    height: 3.5em;
    top: -1.15em;
    left: -0.25em;
  }
  100% {
    height: 8.9em;
    top: -2.7em;
    left: 3.2em;
  }
}

@keyframes moveIclose {
  0% {
    height: 8.9em;
    top: -2.7em;
    left: 3.2em;
  }
  100% {
    height: 3.5em;
    top: -1.15em;
    left: -0.25em;
  }
}

#logo__es {
  position: absolute;
  height: 3.5em;
  top: -1.15em;
  left: 0.05em;
}

#logo__es-open {
  @extend #logo__es;
  animation: moveEs 0.5s ease-out forwards;
}

#logo__es-close {
  @extend #logo__es-open;
  animation: moveEsClose 0.5s ease-out forwards;
}

@keyframes moveEs {
  0% {
    height: 3.5em;
    top: -1.15em;
    left: 0.05em;
  }
  100% {
    height: 8.9em;
    top: -2.7em;
    left: 4.3em;
  }
}

@keyframes moveEsClose {
  0% {
    height: 8.9em;
    top: -2.7em;
    left: 4.3em;
  }
  100% {
    height: 3.5em;
    top: -1.15em;
    left: 0.05em;
  }
}

#logo__aitch {
  position: absolute;
  height: 3.5em;
  top: -1.15em;
  left: 0.45em;
}

#logo__aitch-open {
  @extend #logo__aitch;
  animation: moveAitch 0.5s ease-out forwards;
}

#logo__aitch-close {
  @extend #logo__aitch-open;
  animation: moveAitchClose 0.5s ease-out forwards;
}

@keyframes moveAitch {
  0% {
    height: 3.5em;
    top: -1.15em;
    left: 0.45em;
  }
  100% {
    height: 8.9em;
    top: -2.7em;
    left: 5.6em;
  }
}

@keyframes moveAitchClose {
  0% {
    height: 8.9em;
    top: -2.7em;
    left: 5.6em;
  }
  100% {
    height: 3.5em;
    top: -1.15em;
    left: 0.45em;
  }
}
