@use "../variables/colors";
@use "../breakpoints";
@use "../base/buttons";

.settings__main {
  width: 100%;
  border: 0;
  position: relative;

  @include breakpoints.medium {
    width: 90%;
    margin-left: 10%;
  }
}

.settings__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-bottom: 25px;
  background-color: #f7f8fa;
  display: flex;

  @include breakpoints.medium {
    margin-bottom: 40px;
    height: 500px;
    flex-direction: row;
  }
}

.settings__imgContainer {
  height: fit-content;
  width: 100%;
  border-width: 1px 0;
  border-style: solid;
  border-color: #000;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  @include breakpoints.medium {
    height: 440px;
    width: 290px;
    border-width: 1px;
    border-radius: 20px 0 0 30px;
  }
}

.settings__imgContainer > img {
  height: auto;
  width: 100%;

  @include breakpoints.medium {
    height: 100%;
    width: auto;
  }
}

.settings__container-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.settings__container-oddData {
  @extend .settings__container-pic;
  color: white;
  font-weight: bold;
  margin: 10px 0;
}

.settings__container-evenData {
  @extend .settings__container-pic;
  background-color: white;
  color: colors.$primaryColor;
  font-weight: bold;
  margin: 10px 0;
}

.settings__container-pic > img {
  width: 100%;
  height: auto;
}

.settings__data-container {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
}

.settings__data-container > img {
  height: 200px;
  width: auto;
}

%settings__button {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 5px 5px 0 0;
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.settings__button-change {
  @extend %settings__button;
  background-image: url("/change.svg");
  background-color: greenyellow;
  border-width: 1px 0;
  width: 100%;
  border-radius: 0;

  @include breakpoints.medium {
    border-radius: 0 15px 0 15px;
    border-width: 1px;
    width: 50px;
  }
}

.settings__button-fetch {
  @extend %settings__button;
  background-image: url("/save.svg");
  background-color: greenyellow;
  top: 0px;
  right: 0px;
  width: 100%;
  border-radius: 0;
  border-width: 0 0 1px 0;

  @include breakpoints.medium {
    top: unset;
    bottom: 31px;
    right: 40px;
    border-radius: 5px 5px 0 0;
    width: 50px;
    border-width: 1px 1px 0 1px;
  }
}

.settings__contractForm {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

%h1FormBase {
  background-color: greenyellow;
  padding: 5px 5%;
  border-radius: 5px 0 0 5px;
  border: 1px solid #000;
  border-right: 0;
  width: 70%;
}

.settings__contractForm > h1 {
  @extend %h1FormBase;
}

.settings__form {
  position: absolute;
  top: 100px;
  bottom: 0;
  background-color: #f7f8fa;
  padding-top: 80px;
  left: 0;
  right: 0;

  @include breakpoints.medium {
    position: unset;
    display: flex;
    justify-content: center;
    animation: showSettingForm 0.5s forwards;
    margin-right: -200%;
    background-color: #f0f4f8;
    height: 439px;
    width: 72%;
    border-bottom: 1px solid #000;
    padding-top: unset;
  }
}

.settings__contractContainer {
  @extend .settings__form;
  display: unset;
}

.settings__form div {
  margin-left: 40px;
}

@keyframes showSettingForm {
  0% {
    margin-right: -200%;
  }
  100% {
    margin-right: 0%;
  }
}

.settings__picContainer {
  width: 250px;
}

.settings__button-close {
  @extend %settings__button;
  background-image: url("/close.svg");
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 0 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #000;
  width: 100%;
  border-radius: 0;

  @include breakpoints.medium {
    border-radius: 0 15px 0 15px;
    border-width: 1px;
    width: 50px;
  }
}

.settings__button-close > img {
  width: 14px;
  height: 14px;
}

#profilePic {
  height: 200px;
  width: 200px;
  margin-left: 50px;
}

#profilePic::file-selector-button {
  background-color: #f7f8fa;
  border: 1px solid darkgray;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-bottom: 25px;
}

.settings__teachersList {
  position: absolute;
  top: 99px;
  bottom: 0;
  left: 100%;
  right: 0px;
  animation: showTeachersList 0.5s forwards;

  @include breakpoints.medium {
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

@keyframes showTeachersList {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.settings__teachersList h1 {
  text-align: center;
  font-size: 18px;

  @include breakpoints.medium {
    width: 100%;
    font-size: 26px;
  }
}

.settings__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;

  @include breakpoints.medium {
    bottom: 30px;
    left: 25px;
    top: unset;
    width: unset;
  }
}

.settings__buttons img {
  width: 40px;
  height: 40px;
}

.settings__error {
  position: fixed;
  bottom: -10vh;
  left: 0;
  width: 100%;
  height: 6vh;
  background-color: crimson;
  color: white;
  border-top: 1px solid #000;
  animation: showError 0.25s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@keyframes showError {
  0% {
    bottom: -10vh;
  }
  100% {
    bottom: 0vh;
  }
}

.settings__titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}

.settings__titleContainer > h3 {
  background-color: ghostwhite;
  border-radius: 10px 0 0 10px;
  border: 1px solid #000;
  border-right: 0;
  width: 40%;
  padding: 2vh 5%;

  @include breakpoints.medium {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 0 10px;
    border-right: 0;
  }
}

.settings__deactivate {
  background-color: crimson;
  color: white;
  font-weight: bold;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #000;
  border-right: 0;
  cursor: pointer;
  height: inherit;
  position: relative;
  text-transform: uppercase;

  @include breakpoints.medium {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  }
}

.settings__confirmText {
  margin-bottom: 50px;
}

.settings__confirmDeactivation {
  position: absolute;
  bottom: 0;
  left: 50px;
  right: unset;
  padding: 5px 15px;
  border-radius: 5px 5px 0 0;
  width: fit-content;
  background-color: colors.$primaryColor;
  color: white;
  cursor: pointer;
}

.settings__closeDeactivation {
  @extend .settings__confirmDeactivation;
  left: unset;
  right: 50px;
}

.settings__activate {
  @extend .settings__deactivate;
  background-color: greenyellow;
  color: #000;

  @include breakpoints.medium {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  }
}

.settings__titleContainer > h1 {
  @extend %h1FormBase;
}

.settings__teacherProfile {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-right: 0;
  background-color: white;
  height: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding-bottom: 50px;

  @include breakpoints.medium {
    flex-direction: row;
    height: 420px;
    padding-bottom: unset;
    border-radius: 0 0 0 30px;
  }
}

.settings__teacherData {
  height: fit-content;
  overflow: scroll;
  padding: 0;
  width: 100%;

  @include breakpoints.medium {
    width: 85%;
    height: 380px;
    padding: 0 5% 25px 10%;
  }
}

.settings__teacherPic > img {
  display: block;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #000;
  border-radius: 0;
  height: auto;
  width: 100%;
  margin-top: 0px;

  @include breakpoints.medium {
    margin-top: 100px;
    height: 200px;
    width: auto;
    border-width: 1px 1px 1px 0;
    border-radius: 0 10px 10px 0;
  }
}

.settings__teacherData h3 {
  padding-left: 15px;

  @include breakpoints.medium {
    padding-left: unset;
  }
}

.settings__teacherData h4 {
  background-color: colors.$primaryColor;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 0;
  text-transform: uppercase;

  @include breakpoints.medium {
    border-radius: 5px;
  }
}

.settings__teacherFront {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0;
  border-style: solid;
  border-color: #000;
  border-radius: 0;
  width: 100%;
  background-color: #f7f8fa;
  margin-bottom: 25px;

  @include breakpoints.medium {
    border-radius: 5px;
    width: 75%;
    border-width: 1px;
  }
}

.settings__contractLabel {
  padding-left: 25px;
  text-transform: uppercase;
}

.settings__contractCost {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-left: 1px solid #000;
  width: 50px;
  background-color: colors.$primaryColor;
  color: white;
  font-weight: bold;
}

.settings__teachersMenu {
  display: flex;
  justify-content: space-around;
  height: 46px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;

  @include breakpoints.medium {
    position: unset;
    bottom: unset;
    width: unset;
    height: 30px;
  }
}

.settings__teachersMenu div {
  background-color: white;
  color: colors.$primaryColor;
  font-weight: bold;
  border: 1px solid #000;
  border-top: 1px solid white;
  margin-top: -1px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.settings__menu {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -25px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 0px;
  overflow: hidden;

  @include breakpoints.medium {
    width: 54%;
    right: 50px;
    border-radius: 100px;
  }
}

.settings__btnMenu {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  border-width: 0 1px;
  border-style: solid;
  border-color: #000;
  background-color: colors.$primaryColor;
}

.settings__btnMenu > img {
  height: 50%;
  background-color: white;
  border-radius: 50%;
}

.settings__title {
  width: 100%;
  border-radius: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$primaryColor;
  color: white;
  font-weight: bold;
  margin: 0;

  @include breakpoints.medium {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border-radius: 20px 0 0 0;
  }
}

.settings__breadcrumbContainer {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 5px;
  top: 115px;
  flex-direction: column;
  gap: 5px;

  @include breakpoints.medium {
    height: fit-content;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 90%;
    margin-top: 5%;
    width: unset;
    position: unset;
    gap: unset;
  }
}

.settings__breadcrumbContainer-mobile {
  @include breakpoints.medium {
    display: none;
  }
}

.settings__breadcrumb-btn {
  background-color: white;
  border-radius: 50%;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;

  @include breakpoints.medium {
    text-transform: uppercase;
    color: colors.$primaryColor;
    font-weight: bold;
    background-color: white;
    border-radius: 10px 0 0 10px;
    border-width: 1px 0 1px 1px;
    padding: 7px 25px;
    width: fit-content;
    height: unset;
  }
}

.settings__breadcrumb-btn > img {
  @include breakpoints.medium {
    display: none;
  }
}

.settings__breadcrumb-text {
  display: none;

  @include breakpoints.medium {
    display: unset;
  }
}

.settings__breadcrumb-activeBtn {
  @extend .settings__breadcrumb-btn;
  background-color: lime;

  @include breakpoints.medium {
    background-color: colors.$primaryColor;
    color: white;
  }
}

.settings__email {
  width: 50%;
  margin-left: 100px;
  outline: none;
  height: 28px;
  border: 2px solid colors.$primaryColor;
  border-radius: 5px;
  padding-left: 10px;
}

.settings__form select {
  @extend .settings__email;
}

.settings__contractContainer > .settings__form {
  height: 275px;
  border-bottom: 0;
  margin-left: 100px;
}

.settings__labelPrice {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.settings__form {
  > #form__input-password,
  > #form__input-newPassword,
  > #form__input-confirmNewPassword {
    width: 90%;
    margin-left: 5%;
  }
}

.settings__form label {
  margin-left: -32px;
}
