@use "../breakpoints";
@use "../variables/colors";
@use "../base/forms";

.summary__panel {
  width: 100%;
  position: fixed;
  top: 60px;
  bottom: 100vh;
  padding-top: 40px;
  left: 0;
  z-index: 10;
  background-color: ghostwhite;
  animation: openPanel 0.5s forwards;
  overflow-y: scroll;
  padding-bottom: 100px;

  @include breakpoints.medium {
    flex-direction: row;
  }
}

.summary__form {
  @extend .base__form;
  position: absolute;
  padding: 50px 0;
  top: 0;
  width: 100%;

  @include breakpoints.medium {
    width: 70%;
    padding: 0;
    top: 100px;
  }
}

.summary__form-title {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  margin-bottom: -25px;
}

.summary__form-title > h2 {
  margin-left: 25px;
  font-size: 1em;

  @include breakpoints.medium {
    font-size: 1.5em;
  }
}

.summary__closeBtn {
  background-color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 25px;

  @include breakpoints.medium {
    width: 30px;
    height: 30px;
  }
}

.summary__closeBtn > img {
  width: 20px;
  @include breakpoints.medium {
    width: 30px;
  }
}

.summary__closePanel {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #303030;
  color: white;
  border-top: 1px solid black;
  padding: 10px 25px;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: showContent 0.2s forwards;
  animation-delay: 0.3s;
  cursor: pointer;

  @include breakpoints.medium {
    background-color: crimson;
  }
}

#form__input-summary {
  @extend .base__form-input;
}

#form__inputContainer-summary {
  @extend .base__form-inputContainer;
}

#form__inputContainer-summary > label {
  @extend .base__form-textarea-label;
}

#summary {
  @extend .base__form-textarea;

  @include breakpoints.medium {
    max-width: 650px;
  }
}

.summary__btnSend {
  @extend .form__sendBtn;
}

@keyframes openPanel {
  0% {
    bottom: 100vh;
  }
  100% {
    bottom: 0;
  }
}

.summary__container {
  opacity: 0;
  animation: showContent 0.2s forwards;
  animation-delay: 0.3s;
  padding: 1vh 0 1vh 3%;
  width: 90%;

  @include breakpoints.medium {
    width: 50%;
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.summary {
  font-size: 1.3em;
  line-height: 1.5em;
}

.summary__youtube {
  line-height: 0;
}

.summary__error-span {
  text-decoration: line-through red 2px;
  cursor: pointer;
}

.summary__correction-span {
  color: green;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.summary__explain {
  background-color: cornsilk;
  height: auto;
  width: inherit;
  padding: 1vh 3%;
  border-radius: 0 5px 5px 0;
  border: 1px solid #000;
  border-left: 0;
  position: absolute;
  left: -100%;
}

.summary__explain-open {
  @extend .summary__explain;
  animation: showExplain 0.5s forwards;
  position: relative;
  bottom: auto;
  margin-left: -5%;

  @include breakpoints.medium {
    position: fixed;
    margin-left: 0;
  }
}

@keyframes showExplain {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.summary__card {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  flex-basis: 90%;
  height: fit-content;
  margin-bottom: 6vh;

  @include breakpoints.medium {
    flex-basis: 25%;
    flex-shrink: 0;
  }
}

.summary__iconsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  position: relative;
  height: 40px;
}

.summary__action {
  position: absolute;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: white;
}

.summary__icon {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.summary__iconAlert {
  @extend .summary__icon;
  background-color: red;
}

.summary__iconAlert-img {
  background-color: white;
  border-radius: 6px;
}

.summary__action-iconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.summary__action-iconsContainer > button {
  cursor: pointer;
}

.summary__iconRead {
  @extend .summary__icon;
  background-color: darkturquoise;
}

.summary__iconVideo {
  @extend .summary__icon;
  background-color: red;
}

.summary__iconScore-bad {
  @extend .summary__icon;
  background-color: red;
}

.summary__iconScore-medium {
  @extend .summary__icon;
  background-color: yellow;
}

.summary__iconScore-good {
  @extend .summary__icon;
  background-color: lime;
}

.summary__read {
  border: 1px solid #000;
  border-bottom: 0;
  border-right: 0;
  border-radius: 5px 0 0 0;
  width: fit-content;
  padding: 0 5%;
  float: right;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$primaryColor;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.summary__card-info {
  padding: 0 0 0 10px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #303030;
}

.summary__status {
  margin-right: 25px;
}

.summary__title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: colors.$primaryColor;
  color: white;
  padding: 5px 0;
  margin-bottom: 15px;
}

.summary__error-tab {
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 25px;
}

.summary__error {
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.summary__error-spell {
  @extend .summary__error;
  background-color: colors.$error_spell;
}

.summary__error-tens {
  @extend .summary__error;
  background-color: colors.$error_tens;
}

.summary__error-agree {
  @extend .summary__error;
  background-color: colors.$error_agree;
}

.summary__error-prep {
  @extend .summary__error;
  background-color: colors.$error_prep;
}

.summary__error-word {
  @extend .summary__error;
  background-color: colors.$error_word;
}

.summary__error-order {
  @extend .summary__error;
  background-color: colors.$error_order;
}

.summary__error-sing {
  @extend .summary__error;
  background-color: colors.$error_sing;
}

.summary__error-art {
  @extend .summary__error;
  background-color: colors.$error_art;
}

.summary__error-pron {
  @extend .summary__error;
  background-color: colors.$error_pron;
}

.summary__error-open {
  height: 15px;
  width: 15px;
}

.summary__error-close {
  height: 10px;
  width: 10px;
}

.summary__new-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  top: 60px;
  bottom: 0;
  right: -100%;
  width: 100%;
  animation: showNewSummary 0.5s forwards;
  overflow-y: scroll;
  padding: 25vh 0;

  @include breakpoints.medium {
    padding: 0;
  }
}

.summary__form > h2 {
  margin-bottom: 0;
}

@keyframes showNewSummary {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

.summary__read-panel {
  display: flex;
  flex-direction: row;
  position: relative;
}

.summary__text-container {
  text-transform: none;
  font-size: 1.3em;
  line-height: 1.5em;
}

.process {
  height: 1em;
  width: 5px;
  border: 1px solid #000;
}

.summary__process-upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include breakpoints.medium {
    flex-direction: row;
  }
}

.summary__process-space {
  background-color: white;
  border: 1px solid #000;
  padding: 15px 10px;
  margin: 15px 0;
  width: 250px;
  border-radius: 5px;
}

.summary__process-container {
  display: flex;
}

.summary__process-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin: 10px 0;
}

.summary__process-unavailable {
  @extend .summary__process-label;
  color: crimson;
}

.summary__draft {
  @extend .process;
  background-color: dodgerblue;
}

.summary__draft-process {
  @extend .summary__draft;
  animation: processing 0.5s forwards;
}

.summary__correction {
  @extend .process;
  background-color: gold;
}

.summary__correction-process {
  @extend .summary__correction;
  animation: processing 2s forwards;
}

.summary__stats {
  @extend .process;
  background-color: yellowgreen;
}

.summary__stats-process {
  @extend .summary__stats;
  animation: processing 0.5s forwards;
}

@keyframes processing {
  0% {
    width: 5px;
  }
  100% {
    width: 250px;
  }
}

.summary__score-container {
  display: block;
  position: relative;
  background-color: white;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 100%;
  border-radius: 0;
  animation: showDetails 0.5s forwards;
  animation-delay: 0.25s;
  max-height: fit-content;
  overflow-y: none;
  top: auto;
  right: auto;

  @include breakpoints.medium {
    display: flex;
    position: absolute;
    right: -100%;
    top: 100px;
    width: 40%;
    border: 1px solid #000;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    overflow-y: scroll;
    max-height: 180px;
  }
}

.summary__errors-container {
  @extend .summary__score-container;
  padding-bottom: 25px;
  top: 25px;

  @include breakpoints.medium {
    top: 310px;
  }
}

@keyframes showDetails {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

.summary__feedback {
  width: 100%;
  padding: 0 5%;

  @include breakpoints.medium {
    width: 61%;
  }
}

.summary__feedback > h4 {
  display: none;

  @include breakpoints.medium {
    display: block;
  }
}

.summary__score {
  width: 75%;

  @include breakpoints.medium {
    width: 35%;
  }
}

.summary__errors {
  width: 75%;
}

.summary__detail-scoreContainer {
  display: flex;
  flex-direction: row;
  background-color: ghostwhite;
  margin: 15px 0;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  padding-left: 25px;
  border-left: 0;
}

.summary__detail-errorsContainer {
  @extend .summary__detail-scoreContainer;
}

.summary__errors > h4 {
  margin-left: 25px;
}

.summary__details-score {
  height: 28px;
  width: 20px;
  border-left: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary__details-up {
  background-color: greenyellow;
}

.summary__details-down {
  background-color: red;
  color: white;
}

.summary__details-equal {
  background-color: yellow;
}
